<div class="panel">
  <div class="panel-header">
    <div class="panel-title subscriptions-title">
      <span class="panel-icon"><i class="bi bi-arrow-repeat"></i></span>
      Subscriptions
    </div>
    <div class="panel-header-stat">
      <div class="panel-header-stat-label"><%= Date.today.strftime("%B %Y") %></div>
      <div class="panel-header-stat-value"><%= format_currency(@monthly_subscription) %></div>
    </div>
    <%= link_to "+ New", new_subscription_path, class: "btn-new" %>
  </div>
  <div class="panel-filters">
    <%= render "subscription_buttons" %>
  </div>
  <div class="panel-scroll">
    <% if @subscriptions.any? %>
      <table class="panel-table">
        <colgroup>
          <col class="col-title">
          <col class="col-secondary">
          <col class="col-status">
          <col class="col-amount">
          <col class="col-actions">
        </colgroup>
        <thead>
          <tr>
            <th>Title</th>
            <th>Billing</th>
            <th>Status</th>
            <th class="col-amount">Amount</th>
            <th class="col-actions">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @subscriptions.order(start_date: :desc).each do |sub| %>
            <tr>
              <td><%= sub.title %></td>
              <td><span class="tag tag-<%= sub.billing_cycle %>"><%= sub.billing_cycle.humanize %></span></td>
              <td><span class="tag tag-<%= sub.status %>"><%= sub.status.humanize %></span></td>
              <td class="col-amount">
                <span class="amount"><%= format_currency(sub.amount) %></span>
              </td>
              <td class="col-actions action-cell">
                <%= link_to edit_subscription_path(sub), class: "btn-action btn-edit" do %>
                  <span class="btn-label">Edit</span><i class="bi bi-pencil btn-icon"></i>
                <% end %>
                <%= link_to confirm_destroy_subscription_path(sub),
                            class: "btn-action btn-delete",
                            data: { turbo_frame: "modal" } do %>
                  <span class="btn-label">Delete</span><i class="bi bi-trash btn-icon"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td>Active total</td>
            <td></td>
            <td></td>
            <td class="col-amount tfoot-total tfoot-total--accent"><%= format_currency(@active_subscriptions_total) %></td>
            <td></td>
          </tr>
        </tfoot>
      </table>
    <% else %>
      <div class="empty-state">
        <div class="empty-icon"><i class="bi bi-arrow-repeat"></i></div>
        <div>No subscriptions yet</div>
      </div>
    <% end %>
  </div>
</div>
